.emoji-item {
  list-style-type: none;
}
.emoji-button {
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}
.emoji-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 240px;
  height: 220px;
  border-radius: 10px;
  margin: 0px 10px 10px 0px;
  background-image: linear-gradient(to right, #6a59ff, #9796f0);
}
.emoji-img {
  height: 120px;
  width: 120px;
}
@media screen and (max-width: 600px) {
  .emoji-card {
    height: 160px;
    width: 160px;
  }
  .emoji-img {
    height: 80px;
    width: 80px;
  }
}
