/* Container Styling */
.win-card,
.lose-card {
  height: 50vh;
  width: 50vw;
  padding: 30px;
  border-radius: 10px;
  background-color: #9796f0;
  display: flex;
  margin-top: 30vh;
  align-items: center;
  justify-content: space-around; /* Change to space-around for better spacing */
  margin: auto;
  box-sizing: border-box;
}

/* Score Card Styling */
.win-score-card,
.lose-score-card {
  width: 45%; /* Adjusted to make space for the emoji card */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Text Styling */
.you-won,
.you-lose {
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

.best-score,
.score {
  color: #fff;
  font-size: 24px;
  margin-bottom: 5px;
}

.score-in-number {
  color: red;
  font-size: 30px;
  margin-bottom: 15px;
}

/* Button Styling */
.play-again-button {
  background-color: #ffce27;
  color: #3d3d3d;
  width: 120px;
  height: 40px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* Emoji Card Styling */
.win-emoji-card,
.loss-emoji-card {
  width: 45%; /* Adjusted to fit within the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-emoji,
.lose-emoji {
  width: 100%;
  height: auto;
  max-width: 200px; /* Adjusted for a better fit */
}
